<h1>Pirate Name: <%=@pirates.name%></h1>
<h1>Pirate Height: <%=@pirates.height%></h1>
<h1>Pirate Weight: <%=@pirates.weight%></h1>

<%@ships.each do |ship|%>
  <h2>Ship Name: <%=ship.name%></h2>
  <h2>Ship Type: <%=ship.type%></h2>
  <h2>Ship Booty: <%=ship.booty%></h2>
<%end%>
